@model MvcUyelikSistemi.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "PasswordResetConfirm";
}

@if (ViewBag.status == "Success")
{
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <div class=" alert alert-info">Şifreniz başarıyla yenilenmiştir. Yeni şifreniz ile giriş yapabilirsiniz.</div><br />
            <a class="btn btn-link" asp-action="Login" asp-controller="Home">Giriş yapmak için tıklayınız</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <h4>Yeni Şifre Oluştur</h4>
            <hr />
            <form asp-action="PasswordResetConfirm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PasswordNew" class="control-label"></label>
                    <input asp-for="PasswordNew" class="form-control" />
                    <span asp-validation-for="PasswordNew" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Yeni Şifre Oluştur" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}





